<p>main-menu works!</p>
<!-- <title>
  <b>
    Vasiukov Aleksei website
  </b>
</title> -->
<!-- <div>
  <ul>
    <li><a routerLink="/profile">Profile</a></li>
    <li><a routerLink="/cheatsheet">Cheat Sheet</a></li>
    <li><a routerLink="/blog">Blog</a></li>
  </ul>
</div> -->

<div class="nav-pills-list">
  @for (item of [
  {title: 'Profile', link: '/profile'},
  {title: 'Cheat Sheet', link: '/cheatsheet'},
  {title: 'Blog', link: '/blog'}
  ]
  ;
  track $index
  )
  {
    <a
      class="nav-pill-button"
      [href]="item.link"
      routerLinkActive="active-link"
      target="_self"
      rel="opener">
      <span>{{item.title}}</span>
    </a>
  }
</div>



<!--
  <div class="nav-pills-list">
        @for (item of
        [
        { title: 'Profile', link: 'http://google.com'},
        { title: 'Cheat sheet', link: 'http://yahoo.com'},
        { title: 'Blog', link: 'http://duckduckgo.com'},
        ]
        ;
        track $index) {
          <a
            class="nav-pill-button"
            [href]="item.link"
            target="_blank"
            rel="opener">
          <span>{{ item.title}}</span>
          </a>
        }
      </div> -->
