[Unit]
Description=vasiukov-site-backend-net-api

[Service]
WorkingDirectory=/var/www/linux-x64/
ExecStart=/var/www/linux-x64/VasiukovSite.BackEndNet.API
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=vasiukov-site-backend-net-api
User=root
[Install]
WantedBy=multi-user.target
