@mixin theme($theme-map) {
  background-color: map-get($theme-map, background);
  colors: map-get($theme-map, text )
}

.button {
  background-color: map-get($map: $theme-map, $key: button-bg);
  color: map-get($theme-map, text);
  border: none;
  padding: 0.5rem 1rem;
  transition: $transition;
  cursor: pointer;
}

.list {
  background-color: map-get($map: $theme-map, $key: secondary);
  color: map-get($map: $theme-map, $key: text);
  padding: 1rem;
  border-radius: 4px;
}
